.success {
    background-color: lightgreen;
    margin: 0 auto;
    font-weight: 800;
    border-radius: 3px;
    text-align: center;
}
.error {
    background-color: lightcoral;
    margin: 0 auto;
    font-weight: 800;
    border-radius: 3px;
    text-align: center;
}
.example-card {
    max-width: 400px;
    margin: 20px auto;
}